@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

$principal      : #a42fbb;
$secondary      : #c5e1fe;
$dark-grey      : #010000;
$light-grey     : #b0b0b0;
$dark-principal : #83239b;
$light-principal: #9648aa;


// pc desktop
body {
    font-family: 'Hind Madurai', sans-serif;
    /* margin: 0 3rem; */
    // width: 80%;
}

h1, h2, h3, h4, h5, h6, b {
    text-align: center;
}
h1 {
    color: $principal;
    /* font-size: 10vw; */
    font-size: 4.5rem;
    padding-top: 3.5em;
}
h2 {
    /* font-size: 8vw; */
    font-size: 2.6rem;
    padding-bottom: 2em;
}
h3 {
    /* font-size: 6vw; */
    color: $principal;
    font-size: 2.4rem;
    margin: 1em 0 0;
    color: #05003d;
}
h4 {
    /* font-size: 5vw; */
    color: $principal;
    font-size: 2rem;
}
h5, h6 {
    /* font-size: 4vw; */
    font-size: 1.8rem;
}
p, b {
    font-size: 1.6rem;
}
b {
    font-weight: 800;
}

a, button {
    display: block;
    padding: 0.4em 0.4em;
    width: 6em;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    background-color: $secondary;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-align: center;
    
    &:hover {
        color: $principal;
        transform: scale(1.2);
    }
}

li {
    display: inline-block;
    list-style: none;
}

span {
    color: $dark-grey;
    font-size: 1.5rem;
}

nav > div {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 2em;
}
.favicon {
      background: none;
}

#home {
    background-color: $secondary;
}
.wave {
    position: relative;
    bottom: 2.2em;
}

.cards-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: rgb(255, 255, 255);
    margin: 1.5em 1em;
    border-radius: 15px;
    box-shadow: 3px 1px 6px $light-grey;
    border: 0px solid $light-grey;
    padding: 1.5em 2em;
    height: fit-content;
    width: 80%;
    padding-bottom: 1.4em;
    justify-self: center;
    text-align: center;
    background-color: #fafafa;
    color: #030303;
}

.icons-group {
    display: flex;
    flex-direction: row;

    a {
        background: none;
        border: none;
        margin: auto;
    }
}

.skills {
    position: relative;
    display: inline-block;
}
.skillsFront {
    position: relative;
    text-align: center;
    z-index: 1;

    svg {
        font-size: 6.4em;
        color: rgb(180, 59, 180);
        margin: 0.8rem 2rem;

        &:hover, &:focus {
            color: rgb(90, 226, 226);
        }
    }
}
.skillsBack {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index: -1;
    }
}
.arrayBack {
    position: absolute;
    top: 0;
    left: 0;
    color: #255f5f;
    font-size: 1.8rem;
    opacity: 0.6;
}

.projectSkills{
    color: $dark-grey;
    font-size: 1.3rem;
}
.url {
    display: inline-flex;

    a {
        margin: 0 1.8rem 2rem;
    }
}

.carousel {
    #prev, #next {
        position: relative;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 4em;
        height: 4em;
        z-index: 1;
    }

    #prev {
            right: 16em;
            bottom: 18em;
    }

    #next {
        right: -16em;
        bottom: 20em;
    }

    #proyect {
        z-index: -1;
    }
}

footer {
    display: inline-flex;
    margin-top: -0.4em;
    width: 100%;
    /* margin: 1.4rem 4rem; */
    background-color: $secondary;

    a {
        background-color: transparent;
        padding: 0 1.8rem;
        font-size: 5em;
    }

    .om {
        font-size: 1.5em;
    }
}

::-webkit-scrollbar {
    width: 0.4em;
    background-color: $light-grey;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-grey;
    border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    -ms-border-radius: 0.1em;
    -o-border-radius: 0.1em;

    &:hover{
        background-color: $dark-principal;
    }
}

// laptop
@media (max-width: 1024px) {

}

// tablet
@media (max-width: 768px) {
    
}

// big smartphone
@media (max-width: 425px) {
    
}

// medium smartphone
@media (max-width: 375px) {
    
}

// small smartphone
@media (max-width: 325px) {
    
}