@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");
body {
  font-family: "Hind Madurai", sans-serif;
  /* margin: 0 3rem; */
  width: 80%;
}

h1 {
  /* font-size: 10vw; */
  font-size: 3.6rem;
}

h2 {
  /* font-size: 8vw; */
  font-size: 2.6rem;
}

h3 {
  /* font-size: 6vw; */
  color: #a42fbb;
  font-size: 2.4rem;
  margin: 1em 0 0;
  color: #05003d;
}

h4 {
  /* font-size: 5vw; */
  color: #a42fbb;
  font-size: 2rem;
}

h5, h6 {
  /* font-size: 4vw; */
  font-size: 1.8rem;
}

p, b {
  font-size: 1.6rem;
}

b {
  font-weight: 800;
}

a, button {
  display: block;
  padding: 0.4em 0.4em;
  width: 6em;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  background-color: #c5e1fe;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  text-align: center;
}
a:hover, button:hover {
  color: #a42fbb;
  transform: scale(1.2);
}

li {
  display: inline-block;
  list-style: none;
}

span {
  color: #010000;
  font-size: 1.5rem;
}

nav > div {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 2em;
}

.favicon {
  background: none;
}

.cards-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgb(255, 255, 255);
  margin: 1.5em 1em;
  border-radius: 15px;
  box-shadow: 3px 1px 6px #b0b0b0;
  border: 0px solid #b0b0b0;
  padding: 1.5em 2em;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  padding-bottom: 1.4em;
  justify-self: center;
  text-align: center;
  background-color: #fafafa;
  color: #030303;
}

.icons-group {
  display: flex;
  flex-direction: row;
}
.icons-group a {
  background: none;
  border: none;
  margin: auto;
}

.skills {
  position: relative;
  display: inline-block;
}

.skillsFront {
  position: relative;
  text-align: center;
  z-index: 1;
}
.skillsFront svg {
  font-size: 6.4em;
  color: rgb(180, 59, 180);
  margin: 0.8rem 2rem;
}
.skillsFront svg:hover, .skillsFront svg:focus {
  color: rgb(90, 226, 226);
}

.skillsBack {
  position: relative;
}
.skillsBack::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: -1;
}

.arrayBack {
  position: absolute;
  top: 0;
  left: 0;
  color: #255f5f;
  font-size: 1.8rem;
  opacity: 0.6;
}

.projectSkills {
  color: #010000;
  font-size: 1.3rem;
}

.url {
  display: inline-flex;
}
.url a {
  margin: 0 1.8rem 2rem;
}

.carousel #prev, .carousel #next {
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 4em;
  height: 4em;
  z-index: 1;
}
.carousel #prev {
  right: 16em;
  bottom: 18em;
}
.carousel #next {
  right: -16em;
  bottom: 20em;
}
.carousel #proyect {
  z-index: -1;
}

footer {
  display: inline-flex;
  /* margin: 1.4rem 4rem; */
}
footer a {
  background-color: transparent;
  padding: 0 1.8rem;
}

::-webkit-scrollbar {
  width: 0.4em;
  background-color: #b0b0b0;
}

::-webkit-scrollbar-thumb {
  background-color: #010000;
  border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #83239b;
}/*# sourceMappingURL=style.css.map */